@page "/"

<div class="text-center">
    <h1 class="display-4">Guest Book</h1>
    <p>Please add a message!</p>
    <button class="btn btn-primary" @onclick="AddEntry">Add Entry</button>
    @* <NewEntry @ref="newEntry"></NewEntry> *@
    <ul id="guest-list">
        @foreach (Guest member in Guests)
        {
            <li>@member.GuestDateTime @member.GuestName: @member.GuestMessage</li>
        }
    </ul>

    <p>Thank you for sharing this special day!</p>
</div>

@code {
        List<Guest> Guests = new List<Guest>();
        public NewEntry newEntry;
        public List<Guest> AddEntry(List<Guest> Guests)
        {
            Guests = newEntry.AddToGuestList(Guests, NewEntry.GetGuest());
            return Guests;
        }
    }