@page "/"
@* @inject IModalService modal *@

<div class="text-center">
    <h1 class="display-4">Guest Book</h1>
    <ul id="guest-list">
        @foreach (var guest in Guests)
        {
            // TODO: cleanup the display here
            // more separation between fields?
            // display in a prettier way on web page
            // needs to be saved in a data repo
            <li><b>@guest.DateTime</b> - @guest.Name - @guest.Message</li>
        }
    </ul>

    <button class="btn btn-primary" @onclick="@(()=>ShowNewEntry())">Add Entry</button>

    <p>Thank you for sharing this special day!</p>
</div>

@code {
        private IList<Guest> Guests = new List<Guest>();

        [CascadingParameter] public IModalService Modal { get; set; }

        async Task ShowNewEntry()
        {
            var formModal = Modal.Show<NewEntry>("New Entry");
            var result = await formModal.Result;

            if (result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled.");
            }
            else
            {
                Console.WriteLine(result.Data);
            }
        }
    }