@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Guest Book</h1>
    <button type="button">Click to Add a Message</button>
    <table>
        <tr>
            <th>Name: string, required</th>
            <th>Message: larger string, required</th>
            <th>Date and Time: datetime format, required</th>
        </tr>
        <tr>
            <td>Sample Name</td>
            <td>Sample Message</td>
            <td>Sample DateTime</td>
        </tr>
        <tr>
            <td>Sample Name</td>
            <td>Sample Message</td>
            <td>Sample DateTime</td>
        </tr>
        <tr>
            <td>Sample Name</td>
            <td>Sample Message</td>
            <td>Sample DateTime</td>
        </tr>
    </table>
    <p>Thank you for sharing this special day!</p>
</div>
