@page "/NewEntry"

<div id="entry-modal">
    <div class="table-row">
        <label for="name">Name:</label>
        <input type="text" placeholder="Enter your name" @bind="Name"/>
    </div>
    <div>
        <label for="message">Message:</label>
        <textarea type="text" placeholder="Enter your message" @bind="Message"></textarea>
    </div>
    <div>
        <button class="btn btn-primary" @onclick="AddEntry">Submit</button>
    </div>
</div>

@code {
        
        [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set;}
        public List<Guest> Guests = new List<Guest>();

        bool ShowForm { get; set; } = true;
        public string Name { get; set; }
        public string Message { get; set; }
        
        public void AddEntry()
        {
            Guest newGuest = new Guest();
            newGuest.GuestName = Name;
            newGuest.GuestMessage = Message;
            newGuest.GuestDateTime = DateTime.Now;
            Guests.Add(newGuest);
            
            BlazoredModal.Close(ModalResult.Ok($"{newGuest.GuestDateTime} - {newGuest.GuestName}: {newGuest.GuestMessage}"));
        }
}